*{
    font-family: 'Montserrat', sans-serif;
}

.nav-item{
    padding: 0px 3px;
    font-size: 14px;
}

nav .navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size:2.5rem;
    font-weight: bold;
    margin-left: 0px;
}

nav {
    margin-bottom: 4.5rem;
}

.container-fluid{
    margin: 0;
}

{
    padding-bottom: 4.5rem;
}

#title{
    background-color: #ff4c68;
    padding: 3% 15%;
    color: white;
}

#title h1{
    font-family: 'Montserrat Black';
    font-size: 3rem;
    line-height: 1.5;
}

#title img{
    width: 60%;
    transform: rotate(25deg);
}